/* styles.css */
.btn-primary {
  @apply bg-[#55FFFF] p-2 text-xl rounded-md font-bold flex-1;
}

.btn-secondary {
  @apply bg-[#5BFFFF] p-2 text-2xl rounded-md font-bold flex-1 h-[60px];
}

.text-custom {
  @apply text-[#00FFFF] font-bold;
}

.border-custom {
  @apply border-cyan-400 border-dotted border-2;
}

.fill-highlight {
  @apply text-[#5BFFFF];
}

.bg-custom {
  @apply bg-[#00FFFF] border;
}
